@model LibraryApp.Models.Books.BookViewModel
@using LibraryApp.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

<div class="table">
    <div class="table-header">
        <div class="header-item">Cover</div>
        <div class="header-item">Author</div>
        <div class="header-item">Title</div>
        <div class="header-item">Description</div>
        <div class="header-item">Genre</div>
        <div class="header-item">Pages</div>
        <div class="header-item">Options</div>
    </div>
    <div class="table-body">
        @foreach (var book in Model.Books)
        {
            <div class="table-body-inner">
                <div class="body-item"><img onclick="showZoomedInImage(event)" class="modal_body_item icon-hover" src="@book.ImageName" height="50" width="50" alt="Book-Cover" /></div>
                <div class="body-item">@book.Author?.Name @(book.Author?.Age != null ? " (" + book.Author?.Age + ")" : null)</div>
                <div class="body-item">@book.Title</div>
                <div class="body-item"><a class="icon-hover" style="color: #b00000;" onclick="showModal(@book.Id, '/Books/Info')">Show more ...</a></div>
                <div class="body-item">@book.BookGenre?.Name</div>
                <div class="body-item">@book.Pages</div>
                <div class="body-item options">
                    @{
                        var message = "Are you shure that you want to delete book: " + book.Title + " ?";
                        if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("SuperAdmin")))
                        {
                            <i onclick="showModal(@book.Id, '/Books/CreateOrUpdateBook')" class="fa-solid fa-pen-to-square fa-lg icon-hover" style="color: #b00000;"></i>
                            <i onclick="showConfirmationModal('Are you shure that you want to delete book: @book.Title?', function () {deleteBook('@book.Id')})" class="fa-solid fa-trash fa-lg icon-hover" style="color: #b00000;"></i>
                        }
                    }
                    <i onclick="showModal(@book.Id, '/Books/Info')" class="fa-solid fa-circle-info fa-lg icon-hover" style="color: #b00000;"></i>
                    <i onclick="toggleBookmark(@book.Id)"
                     class="fa-solid fa-bookmark fa-lg icon-hover"
                       style=@(Model.Bookmarks != null ? ("color:yellow") : ("color:#b00000"))>
                    </i>

                </div>
            </div>
        }
    </div>
</div>